<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-video-helper"
  version="2.0.6"
>
  <name>Video Helper for Cordova</name>
  <description>Video Compress Info</description>
  <license>Apache 2.0 License</license>
  <keywords>android,compress,helper,info</keywords>
  <js-module src="www/VideoHelper.js" name="plugin">
    <runs />
    <clobbers target="cordova.plugins.VideoHelper" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="VideoHelper">
        <param name="android-package" value="com.okanbeydanol.videoHelper.VideoHelper" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file
      src="src/android/cordova/videohelper/CustomAndroidFormatStrategy.java"
      target-dir="src/com/okanbeydanol/videoHelper"
    />
    <source-file
      src="src/android/cordova/videohelper/VideoHelper.java"
      target-dir="src/com/okanbeydanol/videoHelper"
    />
    <source-file
      src="src/android/cordova/videohelper/FFmpegTranscoder.java"
      target-dir="src/com/okanbeydanol/videoHelper"
    />
    <source-file
      src="src/android/cordova/videohelper/FFMpegUtils.java"
      target-dir="src/com/okanbeydanol/videoHelper"
    />
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
  </platform>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="VideoHelper">
        <param name="ios-package" value="VideoHelper" />
      </feature>
    </config-file>
    <header-file src="src/ios/VideoHelper.h" />
    <source-file src="src/ios/VideoHelper.m" />
    <header-file src="src/ios/SDAVAssetExportSession.h" />
    <source-file src="src/ios/SDAVAssetExportSession.m" />
    <framework src="AssetsLibrary.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="CoreVideo.framework" />
  </platform>
</plugin>
